// Button
$button-padding : 8px;

// Header
$header-height : 70px;
$header-padding : 0 20px;
$header-border-bottom : 1px solid $border-color;

$searchBox-width : 300px;
$searchBox-padding : 8px;

// Sidebar
$sidebar-width : 70px;
$sidebar-border: 1px solid $border-color;

// Main
$content-wrapper-padding: 20px;

// Card
$card-width: 23%;