// .main-wrapper {
//   padding: 1rem 2rem;
//   background-color: $body-bg;
//   @include tablet-portrait {
//     padding: 1rem 1rem;
//   }

//   .content-wrapper{
//     position: relative;
//   }

//   .heading {
//     margin-top: 2rem;
//     @include sm-desktop {
//       margin: 0;
//     }
//   }
// }

.aside {
  flex: 0 0 250px;
}
.sales-reveneu {
  // width: 30%;
  color: $white;
  background-color: #000000;
  border: none;
  border-radius: 40px;
  width: 400px;
  .sales-reveneu-icon {
    width: 50px;
    height: 50px;
    color: $dark;
    background-color: $white;
    border-radius: 50%;
  }
  .sales-icon{
    font-size: 1.5rem;
}
.sales-text{
  font-size: 1.5rem;
}
}
