.sidebar {
  border-right: 1px solid gray;
  //   width: $sidebar-width;
  //   flex-shrink: 0;
  //   transition: $transition;
  //   @include tablet-landscape {
  //     transform: translateX(-100%);
  //     position: absolute;
  //     width: 100%;
  //     background: $white;
  //   }
  .nav-user-profile {
    padding-bottom: 4rem;
    .user-img {
      width: 50px;
      height: 50px;
    }
  }
}

.navbar-brand {
  padding-left: 2rem;
}
.nav {
  &-heading {
    padding: 8px 24px;
    font-weight: 600;
  }
  .nav- {
    &item {
      width: 100%;
      margin-bottom: 1rem;
      .side-icon {
        font-size: 1.24rem;
        padding-right: 1.5rem;
        color: black;
      }
    }
    &link {
      color: black;
      font-weight: 600;
      display: flex;
      align-items: center;
      padding: 0 2rem 1rem;
      border-left: 4px solid white;
      transition: $transition;
      &:hover,
      &.active {
        border-left: 4px solid black;
      }
    }
  }
}

// // Toggle
// #checkmark {
//   display: none;
// }
// #checkmark:checked ~ .sidebar {
//   transform: translateX(-90px);
//   width: 50px;
//   @include tablet-landscape {
//     transform: translateX(0px);
//     position: absolute;
//     width: 100%;
//     background: $white;
//   }
// }

.nav-link {
  text-decoration: none;
}
