// Sidebar
.sidebar {
  border-right: $nav-tabs-border-width solid $nav-border-color;
  .user-img {
    width: 70px;
    height: 70px;
    border: $img-border-size solid $img-border-color;
    padding: 6px;
    border-radius: 14px;
    img{
      border-radius: 10px;
    }
  }
  .badge{
    border: 2px solid white;
    width: 16px;
    height: 16px;
    background-color: $secondary;
    border-radius: 50%;
    position: absolute;
    bottom: 87px;
    left: 148px;
  }
  .side-icon{
    transform: rotate(45deg);
  }
}

// Nav
.nav {
  .nav- {
    &item {
      .side-icon {
        font-size: $nav-icon-font-size;
      }
    }
    &link {
      text-decoration: none;
      color: $nav-link-color;
      font-size: $nav-link-font-size;
      display: flex;
      align-items: center;
      border-left: 4px solid transparent;
      transition: $transition;
      &:hover,
      &.active {
        font-weight: $font-weight-bolder;
        border-left: 4px solid $dark;
      }
    }
  }
}
.line{
  width: 10px;
  height: 10px;
  background-color: #000000;
}
