.sidebar {
  border-right: $nav-tabs-border-width solid $nav-border-color;
    .user-img {
      width: 50px;
      height: 50px;
    }
}

.nav {
  .nav- {
    &item {
      .side-icon {
        font-size: $nav-icon-font-size;
      }
    }
    &link {
      text-decoration: none;
      color: $nav-link-color;
      font-size: $nav-link-font-size;
      display: flex;
      align-items: center;
      border-left: 4px solid transparent;
      transition: $transition;
      &:hover,
      &.active {
        font-weight: 600;
        border-left: 4px solid $dark;
      }
    }
  }
}
