*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
.w100{
    width: 100%;
}
.h100{
    height: 100%;
}
.border{
    border: 1px solid black;
}
.flex-wrapper{
    height: 100%;
}
.d-flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-space-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.flex-column{
    flex-direction: column;
}
.mt-24{
    margin-top: 24px;
}
.mr-12{
    margin-right: 12px;
}
.ml-24{
    margin-left: 24px;
}
.pt-10{
    padding-top: 10px;
}
.pl-24{
    padding-left: 24px;
}

/* START : ASIDE SECTION */
.flex-aside{
    border-right: 1px solid grey;
}
.aside-div{
    flex-basis: 200px;
    /* border: solid red; */
}
.aside-logo{
    height: 50px;
}
.aside-list{
    list-style-type: none;
}
.list-items, .list-logo{
    padding: 10px 10px 10px 32px;
}
.list-logo{
    border-bottom: 1px solid;
}
.list-items:hover{
    width: 10rem;
    background-color: #80808070;
    border-radius: 4px;
    cursor: pointer;
}

/* END : ASIDE SECTION */

/* START : MAIN-DIV SECTION */
.main-div{
    flex-grow: 1;
    /* border: solid blue; */
}
/* END : MAIN-DIV SECTION */

/* START : HEADER SECTION */
.header-wrapper{
    height: 50px;
    flex-shrink: 0;
    padding: 16px 32px;
    border-bottom: 1px solid grey;
}
.nav-search{
    width: 37rem;
    border-radius: 20px;
    height: 1.5rem;
    border: 1px solid grey;
}
/* END : HEADER SECTION */