

$primary : #74c1db;
$secondary : #7bcd81;
$warning : #d68148;
$dark : #000000;
$light : #e4e0d5;

// Body
$body-bg : #ffffff;
$body-color: $dark;

// Sidebar
$nav-border-color : gray;
$nav-link-color : $dark;

// Card
// $card-bg : #f9f8f3;
