$primary : #74c1db;
$secondary : #7bcd81;
$warning : #d68148;
$dark : #000000;
$light : #e4e0d5;
$gray: gray;

// Body
$body-bg : #ffffff;
$body-color: $dark;

// Border
$border-color : #c9c9c9;

// Sidebar
$nav-border-color : $border-color;
$nav-link-color : $dark;

// Image
$img-border-color : $border-color;