// // All the SCSS Variables goes here

// // Body
// $base-font-size: 1rem;
// $font-family: "Poppins", sans-serif;
$font-family-base: "Poppins", sans-serif;


// Icons
$icon-base-font-size: 1.5rem;

// Form control
$input-icon-font-size : 1.25rem;
$input-focus-border-color: none;
$input-focus-box-shadow: none;

// Sidebar
$border-size: 1px;
$nav-icon-font-size: $icon-base-font-size;
$nav-link-font-size: 1rem;
$nav-tabs-border-width: $border-size;

// Transition
$transition: all 0.1s ease-in;

// Card
$card-icon-size: $icon-base-font-size;
$card-count-weight: 600;
