.card-wrapper {
  .card {
    width: $card-width;
    background-color: $card-bg;
    height: 250px;
    padding: 16px;
    .card-title{
        border-bottom: 1px solid $border-color;
    }
    &:hover{
      cursor: pointer;
      color: $card-hover-text-color;
      background-color: $card-hover-bg;
      transition: all 0.4s ease-in-out;
    }
  }
  
}
