.header .form-control {
  width: $searchBox-width;
  padding: $searchBox-padding;
  background-color: $bg-color;
  border: $border-style-none;
  outline: $border-style-none;
}
.search-wrapper {
  label {
    width: 16px;
    margin: 0 8px;
  }
  .input-wrap {
    background-color: $bg-color;

    #searchBox {
      &::placeholder {
        color: $text-gray;
      }
      &:focus{
          box-shadow: 1px 1px 20px blue;
      }
    }
  }
}
