.header .form-control {
  width: $searchBox-width;
  padding: $searchBox-padding;
  background-color: $form-control-bg;
  border: $border-style-none;
  outline: $border-style-none;

  // Media Query Mixin
  @include tablet-portrait {
    width: 200px;
    padding: 0.25rem;
  }

}
.search-wrapper {
  @include mobile {
    display: none;
  }
  label {
    width: 16px;
    margin: 0 .5rem;
  }
  .input-wrap {
    background-color: $form-control-bg;
    padding: 0.25rem;

    #searchBox {
      &::placeholder {
        color: $text-gray;
      }
    }
  }
}
