.graph {
  width: 28%;
  height: 300px;
  margin-left: 32px;
  padding: 20px;
  background-color: $white;

  // Media Query Mixin
  @include tablet-landscape{
    width: 50%;
    margin: 32px 0;
  }

  @include mobile{
    width: 100%;
    margin: 32px 0;
  }

  .bar-graph {
    height: 200px;
  }
  .bar-container {
    height: 100%;
    width: 8px;
    position: relative;
    .inner-bar {
      width: 100%;
      position: absolute;
      bottom: 0;
    }
    .bar {
      &-view {
        background-color: $info;
      }
      &-sells {
        background-color: $danger;
      }
    }
  }
}
