.table-wrapper {
  background-color: $white;
  overflow: hidden;

  // Media Query Mixin
  @include tablet-landscape {
    height: 450px;
  }

  .table-content-wrapper {
    height: 450px;
    padding: 0 1.25rem;
    overflow: auto;

    // Media Query Mixin
    @include tablet-landscape {
      height: 100%;
    }

    @include mobile{
      width: 100%;
      padding: 0 .5rem;
    }
  }
}
.table {
  border-spacing: 0;
  position: relative;

  @include mobile{
    width: 100%;
    height: 100%;
  }
  .table-header {
    background-color: $white;
    position: sticky;
    top: 0;
  }
  .table-row {
    background-color: $tr-bg;
  }
  .col,
  .table-cell {
    text-align: left;
    padding: 1rem;
    white-space: nowrap;

    @include mobile{
      padding: 0.5rem;
      font-size: 1rem;
      white-space: nowrap;
    }

    @include sm{
      font-size: 0.76rem;
    }
  }
  .table-cell {
    border-bottom: 10px solid white;
  }
  tbody tr td:nth-child(1) {
    width: 10px;
  }
  tbody tr td:nth-child(2) {
    width: 20px;
  }
  tbody tr td:nth-child(4) {
    color: $primary;
  }
}
