.table-wrapper {
  background-color: $white;
  overflow: hidden;

  // Media Query Mixin
  @include tablet-landscape {
    height: 380px;
  }

  .table-content-wrapper {
    padding: 0 2rem;
    overflow: auto;

    // Media Query Mixin
    @include tablet-landscape {
      height: 100%;
    }

    @include mobile{
      width: 100%;
      padding: 0 .5rem;
    }
  }
}
.table {
  border-spacing: 0;
  position: relative;

  @include mobile{
    width: 100%;
    height: 100%;
  }
  .table-header {
    background-color: $white;
    position: sticky;
    top: 0;
  }
  .table-row {
    background-color: $tr-bg;
  }
  .col,
  .table-cell {
    text-align: left;
    padding: 1.25rem;

    @include mobile{
      padding: 0.5rem;
      font-size: 0.75rem;
      white-space: nowrap;
    }
  }
  .table-cell {
    border-bottom: 10px solid white;
  }
  tbody tr td:nth-child(1) {
    width: 10px;
  }
  tbody tr td:nth-child(2) {
    width: 20px;
  }
}
