@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?af1rni');
  src:  url('fonts/icomoon.eot?af1rni#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?af1rni') format('truetype'),
    url('fonts/icomoon.woff?af1rni') format('woff'),
    url('fonts/icomoon.svg?af1rni#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sort:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-user:before {
  content: "\e971";
}
.icon-library:before {
  content: "\e921";
}
.icon-compass2:before {
  content: "\e94a";
}
.icon-search:before {
  content: "\e986";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-cog:before {
  content: "\e994";
}
.icon-pie-chart:before {
  content: "\e99a";
}
.icon-stats-bars:before {
  content: "\e99c";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-arrow-up-right2:before {
  content: "\ea3b";
}
.icon-arrow-down-right2:before {
  content: "\ea3d";
}
