*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: 'Dongle', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}
.h100{
    height: 100%;
}
.h50{
    height: 50px;
}
.w100{
    width: 100%;
}
.mr-12{
    margin-right: 12px;
}
.text-center{
    text-align: center;
}
.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.flex-center{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.flex-grow{
    flex-grow: 1;
}
.flex-shrink{
    flex-shrink: 0;
}
a{
    text-decoration: none;
    color: #a1a1a1;
}

/* START : ASIDE */
.aside-flex{
    flex-basis: 234px;
    width: 100%;
    padding: 1rem;
}
.brand-name{
    border-bottom: 1px solid #f2f3f7;
    padding-left: 1.7rem;
}
.flex-list{
    padding: 0.6rem;
}
.list-details{
    list-style-type: none;
    margin-bottom: 2.5rem;
}
.list-items{
    padding: 0.55rem 1rem;
}
.list-items:hover{
    border-radius: 0.4rem;
    background-color: #f7f6f9;
    color: #000;
    cursor: pointer;
}
/* END : ASIDE */

/* START : MAIN DIV */
.main-div{
    padding: 1rem;
}
/* END : MAIN DIV */
/* START : HEADER */
.header-wrapper{
    border-bottom: 1px solid #f2f3f7;
}
/* END : HEADER */