.wrapper{
    overflow: hidden;
}
.header-nav{
    height: $header-height;
    padding: $header-padding;
    border-bottom: $header-border-bottom;
}
.header-left{
    .brand-logo{
        width: $brand-logo-width;
    }
    .search-wrapper{
        width: $searchBox-wrapper-width;
        margin-left: $searchBox-wrapper-margin-left;
    }
}