.aside {
  position: relative;
  width: $sidebar-width;
  transition: all 0.3s ease-in;

  @include mobile {
    width: 46px;
  }

  .aside-nav {
    padding: $aside-nav-padding;
    .nav- {
      &list {
        display: flex;
        flex-direction: column;
        align-items: center;
        // padding: $nav-list-padding;
      }
      &item {
        margin-bottom: 56px;
      }
    }
    .active {
      color: $primary;
    }
  }
}

// Toggle
.checkBox-label {
  padding: 8px 2px;
  position: absolute;
  top: 50%;
  left: 80px;
  background-color: #fff;
  transition: all 0.3s ease-in;
  transform: translateY(-50%) rotate(180deg);
  cursor: pointer;

  @include mobile {
    left: 30px;
    border: 1px solid;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    @include d-flex;
  }
}

#checkBox {
  display: none;
}
#checkBox:checked ~ .aside {
  transition: all 0.3s ease-in;
  transform: translateX(-80px);
  width: 0;
  .checkBox-label {
    transform: translateY(-50%) rotate(0deg);
    @include mobile {
      left: 46px;
    }
  }
  @include mobile {
    transform: translateX(-46px);
  }
}
