.aside {
  position: relative;
  .aside-nav {
    width: $sidebar-width;
    padding: $aside-nav-padding;
    .nav- {
      &list {
        padding: $nav-list-padding;
      }
      &item{
        margin-bottom: 32px;
      }
    }
  }
}
